@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.eot');
    src: url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-Bold.woff2') format('woff2'), url('../fonts/Poppins-Bold.woff') format('woff'), url('../fonts/Poppins-Bold.ttf') format('truetype'), url('../fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamBook.eot');
    src: url('../fonts/GothamBook.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamBook.woff2') format('woff2'), url('../fonts/GothamBook.woff') format('woff'), url('../fonts/GothamBook.ttf') format('truetype'), url('../fonts/GothamBook.svg#GothamBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/CircularStd-MediumItalic.eot');
    src: local('Circular Std Medium Italic'), local('CircularStd-MediumItalic'),
        url('../fonts/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularStd-MediumItalic.woff2') format('woff2'),
        url('../fonts/CircularStd-MediumItalic.woff') format('woff'),
        url('../fonts/CircularStd-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/CircularStd-Black.eot');
    src: local('Circular Std Black'), local('CircularStd-Black'),
        url('../fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularStd-Black.woff2') format('woff2'),
        url('../fonts/CircularStd-Black.woff') format('woff'),
        url('../fonts/CircularStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/CircularStd-Medium.eot');
    src: local('Circular Std Medium'), local('CircularStd-Medium'),
        url('../fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularStd-Medium.woff2') format('woff2'),
        url('../fonts/CircularStd-Medium.woff') format('woff'),
        url('../fonts/CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/CircularStd-Bold.eot');
    src: local('Circular Std Bold'), local('CircularStd-Bold'),
        url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularStd-Bold.woff2') format('woff2'),
        url('../fonts/CircularStd-Bold.woff') format('woff'),
        url('../fonts/CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/CircularStd-BlackItalic.eot');
    src: local('Circular Std Black Italic'), local('CircularStd-BlackItalic'),
        url('../fonts/CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularStd-BlackItalic.woff2') format('woff2'),
        url('../fonts/CircularStd-BlackItalic.woff') format('woff'),
        url('../fonts/CircularStd-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('../fonts/CircularStd-BookItalic.eot');
    src: local('Circular Std Book Italic'), local('CircularStd-BookItalic'),
        url('../fonts/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularStd-BookItalic.woff2') format('woff2'),
        url('../fonts/CircularStd-BookItalic.woff') format('woff'),
        url('../fonts/CircularStd-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/CircularStd-BoldItalic.eot');
    src: local('Circular Std Bold Italic'), local('CircularStd-BoldItalic'),
        url('../fonts/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularStd-BoldItalic.woff2') format('woff2'),
        url('../fonts/CircularStd-BoldItalic.woff') format('woff'),
        url('../fonts/CircularStd-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('../fonts/CircularStd-Book.eot');
    src: local('Circular Std Book'), local('CircularStd-Book'),
        url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularStd-Book.woff2') format('woff2'),
        url('../fonts/CircularStd-Book.woff') format('woff'),
        url('../fonts/CircularStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*
Nota: El CSS podria dividirse en diferentes archivos segun las subsecciones del landing
y unificarse en este en funcion de poder excluir facilmente secciones de CSS
Cuando su contraparte se excluya del HTML, pero por razones de simplicidad pongo
todo el CSS en este unico archivo.
*/

html {
    //height: 100%;
    body {
        //height: 100%;
        background-color: #000000;
        // background: url(../img/fondo.jpg) no-repeat center center fixed;
        // background-size: cover;
        //overflow: hidden;
        font-family: "Roboto", sans-serif;
        .contenedor {
            position: relative;
            top: 0px;
            margin: 0 auto;
            max-width: 1920px;
            //height: 300px;
            background-color: #dbd1af;
            .bloque1{
                position: relative;
                width: 100%;
                //height: 810px;
                background: linear-gradient(180deg, rgba(229,239,255,1) 0%, rgba(255,255,255,1) 100%);
                .fondoW{
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    img{
                        width: 40vw;
                    }
                }
                .block_1{
                    .menu{
                        position: relative;
                        width: 100%;
                        //height: 80px;
                        //background-color: #dbc09b;
                        .columns{
                            .sec1{
                                margin: 20px 0px 0px 40px;
                                .logo{
                                    width: 240px;
                                }
                            }
                            .sec2{
                                display: flex;
                                font-size: 1.2rem;
                                font-weight: 700;
                                font-family: "Roboto", sans-serif;
                                align-items: center;
                                margin: 20px 0px 0px 0px;
                                @media(max-width: 768px){
                                    display: none;
                                }
                                .btns1{
                                    word-spacing: 24px;
                                    @media(max-width: 1180px){
                                        display: none;
                                    }
                                }
                            }
                            .sec3{
                                display: flex;
                                margin: 20px 0px 0px 0px;
                                .login{
                                    width: 250px;
                                    font-size: 1.2rem;
                                    font-weight: 700;
                                    display: flex;
                                    justify-content: space-evenly;
                                    align-items: center;
                                    margin-right: 40px;
                                }
                            }
                        }
                    }
                }
                .block_2{
                    .columns{
                        .column{
                            z-index: 0;
                            .content{
                                position: relative;
                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                height: 600px;
                                .textos1{
                                    .txt1{
                                        position: relative;
                                        width: 830px;
                                        font-size: 85px;
                                        line-height: 95px;
                                        font-family: "Circular Std", sans-serif;
                                        font-weight: bold;
                                        color: #272D4E;
                                        //background-color: aquamarine;
                                        @media(max-width: 1700px){
                                            width: 600px;
                                            font-size: 60px;
                                            line-height: 65px;
                                        }
                                        @media(max-width: 1160px){
                                            width: 440px;
                                            font-size: 45px;
                                            line-height: 50px;
                                        }
                                        @media(max-width: 900px){
                                            width: 280px;
                                            font-size: 28px;
                                            line-height: 35px;
                                        }
                                        @media(max-width: 768px){
                                            width: 75vw;
                                            font-size: 7vw;
                                            line-height: 9vw;
                                        }
                                    }
                                    .txt2{
                                        position: relative;
                                        width: 830px;
                                        font-size: 18px;
                                        line-height: 25px;
                                        font-family: "Roboto", sans-serif;
                                        font-weight: normal;
                                        color: #94A2B3;
                                        padding: 20px 0px;
                                        //background-color: #6089bb;
                                        @media(max-width: 1700px){
                                            width: 600px;
                                            font-size: 18px;
                                            line-height: 25px;
                                        }
                                        @media(max-width: 1160px){
                                            width: 440px;
                                            font-size: 10px;
                                            line-height: 12px;
                                        }
                                        @media(max-width: 900px){
                                            width: 280px;
                                            font-size: 7px;
                                            line-height: 10px;
                                        }
                                        @media(max-width: 768px){
                                            width: 75vw;
                                            font-size: 12px;
                                            line-height: 20px;
                                        }
                                    }
                                    .btn1{
                                        position: relative;
                                        display: flex;
                                        align-items: center;
                                        @media(max-width: 900px){
                                            display: block;
                                        }
                                        .btn1_1{
                                            position: relative;
                                            margin: 0px 15px 5px 0px;
                                            button{
                                                font-family: "Roboto", sans-serif;
                                            }
                                        }
                                        .btn1_2{
                                            a{
                                                position: relative;
                                                font-weight: bold;
                                            }
                                        }
                                    }
                                }
                                @media(max-width: 1160px){
                                    height: 360px;
                                }
                                @media(max-width: 768px){
                                    justify-content: center;
                                    height: auto;
                                }
                            }
                        }
                        .gra1{
                            @media(max-width: 768px){
                                text-align: center;
                            }
                        }
                        @media(max-width: 1500px){
                            img{
                                width: 700px;
                            }
                        }
                        @media(max-width: 1330px){
                            img{
                                width: 530px;
                            }
                        }
                        @media(max-width: 1015px){
                            img{
                                width: 430px;
                            }
                        }
                        @media(max-width: 768px){
                            img{
                                width: 90vw;
                            }
                        }
                    }
                }
            }
            .bloque2{
                position: relative;
                width: 100%;
                background-color: #fff;
                .sec1{
                    display: flex;
                    justify-content: center;
                    padding: 0px 0px 56px 0px;
                    .txt1{
                        text-align: center;
                        font-family: "Circular Std", sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 55px;
                        line-height: 70px;
                        @media(max-width: 520px){
                            font-size: 40px;
                            line-height: 55px;
                        }
                        @media(max-width: 375px){
                            font-size: 30px;
                            line-height: 45px;
                        }
                    }
                }
                .sec2{
                    .columns{
                        margin-right: auto;
                        .column{
                            .blk1{
                                .img{
                                    text-align: center;
                                    //margin-bottom: 17px;
                                    img{
                                        position: relative;
                                        width: 85%;
                                    }
                                }
                                .cont_txt{
                                    position: relative;
                                    display: flex;
                                    .ct1{
                                        position: relative;
                                        width: 50%;
                                    }
                                    .ct2{
                                        position: relative;
                                        .txt1{
                                            font-family: "Circular Std", sans-serif;
                                            font-style: normal;
                                            font-weight: bold;
                                            font-size: 36px;
                                            line-height: 70px;
                                            @media(max-width: 1602px){
                                                font-size: 26px;
                                                line-height: 60px;
                                            }
                                            @media(max-width: 1042px){
                                                font-size: 20px;
                                                line-height: 60px;
                                            }
                                            @media(max-width: 768px){
                                                font-size: 36px;
                                                line-height: 70px;
                                            }
                                        }
                                        .txt2{
                                            font-family: "Roboto", sans-serif;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 18px;
                                            line-height: 30px;
                                            @media(max-width: 1042px){
                                                font-size: 14px;
                                                line-height: 22px;
                                            }
                                            @media(max-width: 768px){
                                                font-size: 18px;
                                                line-height: 30px;
                                            }
                                        }
                                        .enlace{
                                            font-family: "Roboto", sans-serif;
                                            font-style: normal;
                                            font-weight: bold;
                                            font-size: 18px;
                                            line-height: 25px;
                                            margin-top: 20px;
                                        }
                                    }
                                    .ct3{
                                        position: relative;
                                        width: 10%;
                                    }
                                }
                            }
                            .blk2{
                                .img{
                                    text-align: center;
                                    //margin-bottom: 17px;
                                    img{
                                        position: relative;
                                        width: 85%;
                                    }
                                }
                                .cont_txt{
                                    position: relative;
                                    display: flex;
                                    .ct1{
                                        position: relative;
                                        width: 10%;
                                    }
                                    .ct2{
                                        position: relative;
                                        .txt1{
                                            font-family: "Circular Std", sans-serif;
                                            font-style: normal;
                                            font-weight: bold;
                                            font-size: 36px;
                                            line-height: 70px;
                                            @media(max-width: 1602px){
                                                font-size: 26px;
                                                line-height: 60px;
                                            }
                                            @media(max-width: 1042px){
                                                font-size: 20px;
                                                line-height: 60px;
                                            }
                                            @media(max-width: 768px){
                                                font-size: 36px;
                                                line-height: 70px;
                                            }
                                        }
                                        .txt2{
                                            font-family: "Roboto", sans-serif;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 18px;
                                            line-height: 30px;
                                            @media(max-width: 1042px){
                                                font-size: 14px;
                                                line-height: 22px;
                                            }
                                            @media(max-width: 768px){
                                                font-size: 18px;
                                                line-height: 30px;
                                            }
                                        }
                                        .enlace{
                                            font-family: "Roboto", sans-serif;
                                            font-style: normal;
                                            font-weight: bold;
                                            font-size: 18px;
                                            line-height: 25px;
                                            margin-top: 20px;
                                        }
                                    }
                                    .ct3{
                                        position: relative;
                                        width: 10%;
                                    }
                                }
                            }
                            .blk3{
                                .img{
                                    text-align: center;
                                    //margin-bottom: 17px;
                                    img{
                                        position: relative;
                                        width: 85%;
                                    }
                                }
                                .cont_txt{
                                    position: relative;
                                    display: flex;
                                    .ct1{
                                        position: relative;
                                        width: 10%;
                                    }
                                    .ct2{
                                        position: relative;
                                        .txt1{
                                            font-family: "Circular Std", sans-serif;
                                            font-style: normal;
                                            font-weight: bold;
                                            font-size: 36px;
                                            line-height: 70px;
                                            @media(max-width: 1602px){
                                                font-size: 26px;
                                                line-height: 60px;
                                            }
                                            @media(max-width: 1042px){
                                                font-size: 20px;
                                                line-height: 60px;
                                            }
                                            @media(max-width: 768px){
                                                font-size: 36px;
                                                line-height: 70px;
                                            }
                                        }
                                        .txt2{
                                            font-family: "Roboto", sans-serif;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 18px;
                                            line-height: 30px;
                                            @media(max-width: 1042px){
                                                font-size: 14px;
                                                line-height: 22px;
                                            }
                                            @media(max-width: 768px){
                                                font-size: 18px;
                                                line-height: 30px;
                                            }
                                        }
                                        .enlace{
                                            font-family: "Roboto", sans-serif;
                                            font-style: normal;
                                            font-weight: bold;
                                            font-size: 18px;
                                            line-height: 25px;
                                            margin-top: 20px;
                                        }
                                    }
                                    .ct3{
                                        position: relative;
                                        width: 10%;
                                    }
                                }
                            }
                        }
                    }
                }
                .sec3{
                    position: relative;
                    width: 100%;
                    height: 100px;
                }
            }
            .bloque3{
                position: relative;
                width: 100%;
                background-color: #fff;
                //height: 1110px;
                //background: url(../img/sec3_fondo.png) no-repeat center center fixed;
                // background-size: cover;
                .sec3_fondo{
                    position: absolute;
                    .img_1{
                        @media(max-width: 768px){
                            display: none;
                        }
                    }
                    .img_2{
                        display: none;
                        @media(max-width: 768px){
                            display: block;
                        }
                    }
                }
                .cont_sec3{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    .cont1_sec3{
                        width: 70%;
                        //height: 1147px;
                        //background-color: #d70e0e70;
                        @media(max-width: 1920px){
                            width: 70vw;
                        }
                        @media(max-width: 1455px){
                            width: 80vw;
                        }
                        @media(max-width: 1235px){
                            width: 90vw;
                        }
                        @media(max-width: 1130px){
                            width: 100vw;
                        }
                        .p1_sec3{
                            position: relative;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            @media(max-width: 768px){
                                justify-content: center;
                            }
                            .img{
                                padding: 30px 30px 0px 30px;
                                @media(max-width: 768px){
                                    display: none;
                                }
                            }
                            .txt{
                                position: relative;
                                @media(max-width: 768px){
                                    margin-top: 50px;
                                }
                                .titulo{
                                    font-family: "Circular Std", sans-serif;
                                    color: #fff;
                                    font-style: normal;
                                    font-weight: bold;
                                    font-size: 36px;
                                    line-height: 46px;
                                    @media(max-width: 1920px){
                                        padding-right: 20px;
                                    }
                                    @media(max-width: 768px){
                                        padding-right: 20px;
                                        padding-left: 20px;
                                    }
                                }
                                .contenido{
                                    max-width: 500px;
                                    font-family: "Roboto", sans-serif;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 18px;
                                    line-height: 30px;
                                    margin: 20px 0px;
                                    @media(max-width: 1920px){
                                        padding-right: 20px;
                                    }
                                    @media(max-width: 768px){
                                        padding-right: 20px;
                                        padding-left: 20px;
                                    }
                                }
                                .btn{
                                    .button{
                                        background-color: #70C217;
                                    }
                                    @media(max-width: 1920px){
                                        padding-right: 20px;
                                    }
                                    @media(max-width: 768px){
                                        padding-right: 20px;
                                        padding-left: 20px;
                                    }
                                }
                            }
                        }
                        .p2_sec3{
                            position: relative;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            @media(max-width: 768px){
                                justify-content: center;
                            }
                            .txt{
                                position: relative;
                                @media(max-width: 768px){
                                    margin-top: 50px;
                                }
                                .titulo{
                                    font-family: "Circular Std", sans-serif;
                                    color: #fff;
                                    font-style: normal;
                                    font-weight: bold;
                                    font-size: 36px;
                                    line-height: 46px;
                                    @media(max-width: 1920px){
                                        padding-left: 20px;
                                    }
                                    @media(max-width: 768px){
                                        padding-right: 20px;
                                        padding-left: 20px;
                                    }
                                }
                                .contenido{
                                    max-width: 500px;
                                    font-family: "Roboto", sans-serif;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 18px;
                                    line-height: 30px;
                                    margin: 20px 0px;
                                    @media(max-width: 1920px){
                                        padding-left: 20px;
                                    }
                                    @media(max-width: 768px){
                                        padding-right: 20px;
                                        padding-left: 20px;
                                    }
                                }
                                .btn{
                                    .button{
                                        background-color: #70C217;
                                    }
                                    @media(max-width: 1920px){
                                        padding-left: 20px;
                                    }
                                    @media(max-width: 768px){
                                        padding-right: 20px;
                                        padding-left: 20px;
                                    }
                                }
                            }
                            .img{
                                padding: 30px 30px 0px 30px;
                                @media(max-width: 768px){
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .sec3{
                    position: relative;
                    width: 100%;
                    height: 100px;
                }
            }
            .bloque4{
                position: relative;
                width: 100%;
                height: 1117px;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(234,238,252,1) 50%, rgba(255,255,255,1) 100%);
                .sec4_fondo{
                    position: absolute;
                }
                .cont_sec4{
                    position: relative;
                    width: 750px;
                    height: 750px;
                    margin: 0px 30px;
                    //background-color: #0000ff73;
                    .cont_titulo{
                        position: relative;
                        color: #272D4E;
                        width: 100%;
                        height: 170px;
                        font-family: "Circular Std", sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 55px;
                        line-height: 70px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        // background-color: #2c6350;
                        @media(max-width: 1340px){
                            height: 250px;
                        }
                        @media(max-width: 768px){
                            height: 250px;
                            font-size: 45px;
                            line-height: 60px;
                        }
                        @media(max-width: 630px){
                            height: 180px;
                            align-items: flex-start;
                        }
                        @media(max-width: 480px){
                            height: 120px;
                            font-size: 30px;
                            line-height: 40px;
                        }
                        @media(max-width: 320px){
                            height: 120px;
                            font-size: 27px;
                            line-height: 40px;
                        }
                    }
                    .cont_slider{
                        position: relative;
                        width: 100%;
                        // height: 65%;
                        // background-color: aquamarine;
                        @media(max-width: 1340px){
                            width: 80%;
                            margin: 0 auto;
                        }
                        @media(max-width: 900px){
                            width: 70%;
                            margin: 0 auto;
                        }
                        @media(max-width: 768px){
                            width: 70%;
                            margin: 0 auto;
                        }
                    }
                    @media(max-width: 768px){
                        height: 650px;
                    }
                    @media(max-width: 630px){
                        height: 550px;
                    }
                    @media(max-width: 480px){
                        height: 340px;
                    }
                    @media(max-width: 320px){
                        height: 300px;
                    }
                }
                @media(max-width: 1400px){
                    height: auto;
                }
                @media(max-width: 900px){
                    //height: 780px;
                }
                @media(max-width: 768px){
                    //height: 1117px;
                }
            }
            .bloque5{
                position: relative;
                background-color: #fff;
                .txt1{
                    position: relative;
                    color: #272D4E;
                    text-align: center;
                    font-family: "Circular Std", sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 55px;
                    line-height: 70px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media(max-width: 685px){
                        font-size: 45px;
                    }
                }
                .txt2{
                    position: relative;
                    text-align: center;
                    color: #94A2B3;
                    font-family: "Roboto", sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 25px;
                    //height: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media(max-width: 685px){
                        //height: 70px; */
                        margin: 10px 20px;
                    }
                }
                .img{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    img{
                        margin-top: 70px;
                    }
                }
                .txt_btn{
                    position: relative;
                    background-color: #5F37EF;
                    display: flex;
                    justify-content: center;
                    .cont{
                        width: 70%;
                        height: 261px;
                        //background-color: #5ad3d3;
                        display: flex;
                        justify-content: space-evenly;
                        .col1{
                            display: flex;
                            align-items: center;
                            color: #fff;
                            font-family: "Roboto", sans-serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 36px;
                            line-height: 52px;
                            @media(max-width: 1677px){
                                font-size: 26px;
                                line-height: 42px;
                            }
                            @media(max-width: 1297px){
                                font-size: 21px;
                                line-height: 32px;
                            }
                        }
                        .col2{
                            display: flex;
                            align-items: center;
                            .button{
                                background-color: #5F37EF;
                                color: #fff;font-style: normal;
                                font-family: "Roboto", sans-serif;
                                font-weight: bold;
                                font-size: 27px;
                                line-height: 21px;
                                border-width: 2px;
                                font-weight: 700;
                            }
                        }
                        @media(max-width: 1177px){
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }
                    }
                }
            }
            .pie{
                position: relative;
            }
        }
    }
}